<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Console Game Sales</title>

    <style>
        .btn-search {
            background: #184fa1;
            border-radius: 0;
            color: #fff;
            border-width: 1px;
            border-style: solid;
            border-color: #1c1c1c;
        }
    </style>
</head>

<body>
    <div clas="container">
        <div class="jumbotron">
            <h1 align="center">Let's search for game sales!!</h1>

            <form class="example" action="/scrape" methods="GET">
                <input type="text" placeholder="Search.." name="q" class="form-control">
                <button type="submit" class="btn btn-search"><i class="fa fa-search">Search</i></button>
            </form>
        </div>

        <a href="{{google.Link_1}}">
            <h3>{{google.Result_1}}</h3>
        </a>
        <a href="{{google.Link_2}}">
            <h3>{{google.Result_2}}</h3>
        </a>
        <a href="{{google.Link_3}}">
            <h3>{{google.Result_3}}</h3>
        </a>
        <a href="{{google.Link_4}}">
            <h3>{{google.Result_4}}</h3>
        </a>
    </div>
</body>

</html>